<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--一定要在紧跟着configuration下面添加-->
  <!--
  <configSections>
    -->
  <!--跟下面Spring.Net节点配置是一一对应关系-->
  <!--
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>-->
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ClothingMallEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ClothingMall;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--Spring.Net节点配置-->
  <!--<spring>
    <context>
      <resource uri="file://~/Config/controllers.xml" />
    </context>
    <objects xmlns="http://www.springframework.net">
      -->
  <!--这里放容器里面的所有节点-->
  <!--
      <description>An  example that demonstrates simple IoC features.</description>
      -->
  <!--name 必须要唯一的，type=类的全名称，所在的程序集-->
  <!--
      <object name="UserInfoDal" type="Spring.Net.EFUserInfoDal">
      </object>
    </objects>
  </spring>-->
  <appSettings>
    <add key="DalAssemblyPath" value="Project.ClothingMall.DAL" />
    <add key="NameSpace" value="Project.ClothingMall.DAL" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>